@model BraviBraian.MVC.ViewModels.PersonViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Person</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>


        <hr />
        @if (Model.Contacts != null)
        {
            foreach (var item in Model.Contacts)
            {
                <dt>
                    @Html.DisplayName(item.ContactType.Name)
                </dt>
                <dd>
                    @Html.Display(item.ContactType.Name)
                </dd>
                <dt>
                    @Html.DisplayName(item.Description)
                </dt>
                <dd>
                    @Html.Display(item.Description)
                </dd>
            }
        }
        else
        {
            <span>Add contact info <a href="@Url.Action("Edit", Model.Id)">Clicking Here</a></span>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
